body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: url('../images/blueSpace4.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 28px;
}

.competences {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    animation: fadeIn 1s ease-in-out forwards;
}

.competence {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

.competence img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.competence:hover {
    transform: scale(1.1);
}

.competence::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #007BFF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.competence:hover::after {
    opacity: 1;
}

/* RESPONSIVE */

@media (min-width: 1200px) {
    .competences {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .competences {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {

    .competences {
        grid-template-columns: repeat(2, 1fr);
    }
}